body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.curtain {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
}

.curtain-left {
    left: 0;
    background-color: #000;
}

.curtain-right {
    right: 0;
    background-color: #000;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    z-index: 99;
    display: none; 
}

.content {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none; 
}
